.page-header{
    display: fixed;
    justify-content: space-between;
    height: 110px;
}

/* button styles */
.home {
    color: white;
    margin-right: 15px;
    text-decoration: wavy;
    font-weight: bold;
}

.about {
    color: white;
    margin-right: 15px;
    text-decoration: wavy;
    font-weight: bold;
}

.contact {
    color: orchid;
    margin-right: 15px;
    text-decoration: wavy;
    font-weight: bold;
}

.events {
    color: white;
    margin-right: 15px;
    text-decoration: wavy;
    font-weight: bold;
}

.blog {
    color: white;
    margin-left: 10px;
    text-decoration: wavy;
    font-weight: bold;
}

.name {
    width: 650px;
    margin-left: 450px;
    height: 80px;
    font-weight: bold;
    text-align: center;
    border-radius: 40px;
}

.page-name {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.main-body {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.phone-icon{
    width: 50px;
    height: 50px;
    margin-left: 55px;
}

.phone-number{
    font-size: 20px;
    font-weight: bold;
}

.email-icon{
    width: 50px;
    height: 50px;
    margin-left: 55px;
}

.email-address{
    font-size: 20px;
    font-weight: bold;
}

.instagram-icon{
    width: 50px;
    height: 50px;
    margin-left: 55px;
}

.instagram-handle{
    font-size: 20px;
    font-weight: bold;
}

.instagram-link{
    color: black;
}
