.events {
	color: orchid;
}

.section-title {
	text-align: center;
	/* margin: 3rem 0 1rem; */
}

.section-subtitle {
	text-align: center;
	color: #666;
	margin-bottom: 2rem;
}

.events-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	margin-bottom: 3rem;
}

.event-card {
	display: flex;
	align-items: flex-start;
	gap: 1rem;
	max-width: 800px;
	width: 90%;
	background: #f9f9f9;
	border-radius: 10px;
	padding: 1rem;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.event-img {
	width: 150px;
	height: 150px;
	background-color: #ddd;
	border-radius: 8px;
}

.event-info h3 {
	margin: 0;
	font-size: 1.2rem;
}

.event-info p {
	margin: 0.3rem 0;
}

.event-info .details-btn {
	margin-top: 0.5rem;
	background: #fff;
	border: 2px solid #000;
	padding: 0.4rem 1rem;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.3s;
}

.event-info .details-btn:hover {
	background: #000;
	color: #fff;
}
