* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
    background-color: #4b0049;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}

.logo img {
    height: 90px;
    width: auto;
    margin-right: 10px;
    padding-left: 5px;
}

.sign-in-form {
    background-color: antiquewhite;
    width: 500px;
    height: 300px;
    margin-top: 200px;
    margin-left: 555px;
    align-items: center;
    
    font-weight: bold;
}

.signinform {
    margin-top: 100px;
    margin-bottom: 150px;
    padding-top: 50px;
}

.submit-button {
    background-color: #4b0049;
      color: white;
      font-weight: bold;
      font-size: medium;
      border: none;
      height: 50px;
      width: 150px;
      border-radius: 25px;
      cursor: pointer;
      margin-left: 155px;
      margin-top: 25px;
      transition: background-color 0.2s, color 0.2s;
}